{% extends "v2/base.html" %}
{% load static %}

{% block content %}

<!-- SECTION 1 - HERO SECTION -->
{% include 'v2/sections/home/hero.html' %}

<!-- SECTION 2 - SHOWING HOW REPORTS LOOK LIKE -->
{% include 'v2/sections/home/report_showcase.html' %}

<!-- SECTION 3 - MOTIVE: THIS SECTION WILL TELL HOW A USER CAN GENERATE A REPORT EASILY AND SOME OTHER FEATURES -->
{% include 'v2/sections/home/workflow.html' %}

<!-- SECTION 4 - MOTIVE: THIS SECTION WILL TELL HOW A USER NEEDS TO PURCHASE KEY TO USE IT AND HOW KEY REGENERATION WORKS  -->

<!-- SECTION 5 - PRICING -->
{% include 'v2/sections/home/pricing.html' %}

{% endblock %}