{% extends "emails/base.html" %}

{% block content %}

<h1>Security Notification</h1>

<p>

A security-related action has recently been performed on your ScoutingDesk account.

The details of the action are provided below.

</p>

<div class="info-box">

<p>

<strong style="color:white">
Action
</strong>

<br><br>

{{ action }}

</p>

<p>

<strong style="color:white">
License Key
</strong>

<br><br>

{{ key }}

</p>

</div>

<p>

If you performed this action, no further action is required.

If you do not recognize this activity, we recommend contacting support immediately.

</p>

{% endblock %}