<div class="download-faq-item fade-up">

    <button class="download-faq-question">

        <span>
            {{ question }}
        </span>

        <svg xmlns="http://www.w3.org/2000/svg"
            class="download-faq-icon"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor">

            <path stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.8"
                d="M12 5v14m-7-7h14" />

        </svg>

    </button>

    <div class="download-faq-answer">

        <p>
            {{ answer }}
        </p>

    </div>

</div>